@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  html{
    @apply transition-colors duration-300;  
    font-family: 'Poppins', sans-serif;
  }
  body{
    @apply bg-white dark:bg-gray-900 text-gray-900 dark:text-gray-100;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.bg-shadow{
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}

:root {
  --title: #fffcf9;
  --subtitle: #b3b3b3;
  --bg-button: #e9e6e3;
}


